Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-bundle-2-3-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, must-gather-2-2-on-pull-request, operator-2-4-on-push, operator-bundle-2-4-on-push, operator-bundle-2-5-on-pull-request, operator-bundle-2-6-on-push, signing-2-5-on-push, webhook-2-6-on-push

Path conditions:
  fbc-hub-415-on-pull-request: any of: fbc/**
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-bundle-2-3-on-push: (((((any of: release-2.3/pullspecs/operator-2-3.yaml) or (any of: release-2.3/pullspecs/must-gather-2-3.yaml)) or (any of: release-2.3/pullspecs/signing-2-3.yaml)) or (any of: release-2.3/pullspecs/webhook-2-3.yaml)) or (any of: release-2.3/pullspecs/worker-2-3.yaml)) or (any of: release-2.3/Dockerfile.hub-operator-bundle)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  must-gather-2-2-on-pull-request: (any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**))
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-4-on-push: (((((any of: release-2.4/pullspecs/operator-2-4.yaml) or (any of: release-2.4/pullspecs/must-gather-2-4.yaml)) or (any of: release-2.4/pullspecs/signing-2-4.yaml)) or (any of: release-2.4/pullspecs/webhook-2-4.yaml)) or (any of: release-2.4/pullspecs/worker-2-4.yaml)) or (any of: release-2.4/Dockerfile.operator-bundle)
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  operator-bundle-2-6-on-push: (((((any of: release-2.6/pullspecs/operator-2-6.yaml) or (any of: release-2.6/pullspecs/must-gather-2-6.yaml)) or (any of: release-2.6/pullspecs/signing-2-6.yaml)) or (any of: release-2.6/pullspecs/webhook-2-6.yaml)) or (any of: release-2.6/pullspecs/worker-2-6.yaml)) or (any of: release-2.6/Dockerfile.operator-bundle)
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))
  webhook-2-6-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-6-push.yaml)) or ((any of: release-2.6/**) and (not (any of: release-2.6/pullspecs/**)))

Red Hat Konflux update hub-operator-bundle-2-6
  .tekton/hub-operator-bundle-2-6-pull-request.yaml
  .tekton/hub-operator-bundle-2-6-push.yaml
Due: webhook-2-6-on-push

Red Hat Konflux update hub-operator-2-6
  .tekton/hub-operator-2-6-pull-request.yaml
  .tekton/hub-operator-2-6-push.yaml
Due: webhook-2-6-on-push

update kmm-2-6 submodule
  .github/scripts/combine_nudges.py
  .github/scripts/nudges.yaml
Due: none

tweak to auto merge job
  .github/workflows/combine-nudges-new.yaml
Due: none

add pull specs for release-2.6
  .github/scripts/combine_nudges.py
  release-2.6/pullspecs/hub-operator-2-6.yaml
  release-2.6/pullspecs/hub-operator-bundle-2-6.yaml
  release-2.6/pullspecs/must-gather-2-6.yaml
  release-2.6/pullspecs/operator-2-6.yaml
  release-2.6/pullspecs/operator-bundle-2-6.yaml
  release-2.6/pullspecs/signing-2-6.yaml
  release-2.6/pullspecs/webhook-2-6.yaml
  release-2.6/pullspecs/worker-2-6.yaml
Due: operator-bundle-2-6-on-push

add pull specs for release-2.6
  .github/scripts/combine_nudges_new.py
  .github/workflows/combine-nudges-new.yaml
  release-2.6/pullspecs/hub-operator-2-6.yaml
  release-2.6/pullspecs/hub-operator-bundle-2-6.yaml
  release-2.6/pullspecs/must-gather-2-6.yaml
  release-2.6/pullspecs/operator-2-6.yaml
  release-2.6/pullspecs/operator-bundle-2-6.yaml
  release-2.6/pullspecs/signing-2-6.yaml
  release-2.6/pullspecs/webhook-2-6.yaml
  release-2.6/pullspecs/worker-2-6.yaml
Due: operator-bundle-2-6-on-push

Red Hat Konflux update worker-2-6
  .tekton/worker-2-6-pull-request.yaml
  .tekton/worker-2-6-push.yaml
Due: webhook-2-6-on-push

fix pullspec_config for kmm-2-6
  .github/scripts/combine_nudges.py
  .github/workflows/combine-nudges-new.yaml
  release-2.6/Dockerfile.hub-operator-bundle
  release-2.6/Dockerfile.operator-bundle
  release-2.6/pullspec_config.yaml
Due: operator-bundle-2-6-on-push, webhook-2-6-on-push

fix incorrect args causing release-2.6/Dockerfile.webhook to fail testing
  release-2.6/Dockerfile.hub-operator
  release-2.6/Dockerfile.operator
  release-2.6/Dockerfile.webhook
  release-2.6/Dockerfile.worker
Due: webhook-2-6-on-push

increase limits for sast jobs (KONFLUX-12112)
  .tekton/hub-operator-2-2-push.yaml
  .tekton/hub-operator-2-3-push.yaml
  .tekton/hub-operator-2-5-push.yaml
  .tekton/hub-operator-2-6-push.yaml
  .tekton/hub-operator-bundle-2-2-push.yaml
  .tekton/hub-operator-bundle-2-3-push.yaml
  .tekton/hub-operator-bundle-2-4-push.yaml
  .tekton/hub-operator-bundle-2-5-push.yaml
  .tekton/hub-operator-bundle-2-6-push.yaml
  .tekton/must-gather-2-2-push.yaml
  .tekton/must-gather-2-3-push.yaml
  .tekton/must-gather-2-5-push.yaml
  .tekton/must-gather-2-6-push.yaml
  .tekton/operator-2-2-push.yaml
  .tekton/operator-2-3-push.yaml
  .tekton/operator-2-5-push.yaml
  .tekton/operator-2-6-push.yaml
  .tekton/operator-bundle-2-2-push.yaml
  .tekton/operator-bundle-2-3-push.yaml
  .tekton/operator-bundle-2-4-push.yaml
  .tekton/operator-bundle-2-5-push.yaml
  .tekton/operator-bundle-2-6-push.yaml
  .tekton/signing-2-2-push.yaml
  .tekton/signing-2-3-push.yaml
  .tekton/signing-2-5-push.yaml
  .tekton/signing-2-6-push.yaml
  .tekton/tmp
  .tekton/webhook-2-2-push.yaml
  .tekton/webhook-2-3-push.yaml
  .tekton/webhook-2-5-push.yaml
  .tekton/webhook-2-6-push.yaml
  .tekton/worker-2-2-push.yaml
  .tekton/worker-2-3-push.yaml
  .tekton/worker-2-5-push.yaml
  .tekton/worker-2-6-push.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push

update FBCs for 2.6
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update FBCs for 2.6
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
  templates/hub-catalog-template.json
  templates/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

add pipelines for ocp 4.22
  .github/scripts/combine_nudges_new.py
  .tekton/fbc-hub-422-pull-request.yaml
  .tekton/fbc-hub-422-push.yaml
  .tekton/fbc-op-422-pull-request.yaml
  .tekton/fbc-op-422-push.yaml
  scripts/release_to_qe.py
Due: none

add kmm-2.6 to images-mirror-set.yaml
  .tekton/images-mirror-set.yaml
Due: none

add automerge script for triggering bundle builds
  .github/scripts/auto_merge.py
Due: none

Update automerge-konflux.yaml
  .github/workflows/automerge-konflux.yaml
Due: none

build fbc's for kmm-2-6 5efc539
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

allow ok-to-release labelling for merged bundle PRs
  .github/scripts/combine_nudges.py
  .github/scripts/nudges.yaml
  .github/scripts/release_nudges.py
  .github/workflows/automerge-konflux.yaml
  scripts/release_to_qe.py
Due: none

update fbc for kmm-2.5.2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

remove some unrequired pre-fetch rpms
  rpms.lock.yaml
Due: none

fix typo in combine-nudges that prevented labbeling
  .github/scripts/combine_nudges.py
  redhat.repo
  rpms.in.yaml
Due: none

Red Hat Konflux update must-gather-2-2
  .tekton/must-gather-2-2-pull-request.yaml
  .tekton/must-gather-2-2-push.yaml
Due: none

make combine_nudges fail gracefully if no nudge PRs found
  .github/scripts/combine_nudges.py
  .github/scripts/release_nudges.py
Due: none

move 2.6 to the release-2.6 branch
  .gitmodules
Due: none

roll back task-push-dockerfile-oci-ta task due to bugs
  .tekton/.multi-arch-pipelineref.yaml.swp
  .tekton/multi-arch-pipelineref.yaml
  .tekton/tmp
Due: operator-2-4-on-push, webhook-2-6-on-push

konflux sucks so badly
  .tekton/bundle-pipelineref.yaml
Due: none

updates fbc fopr kmm-2.6 13dcc10
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

updates fbc for kmm-2.6 13dcc10 (staging repos)
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

build fbcs for kmm-2.6 in prod (13dcc10)
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

feat(sast): configure sast-snyk-check task
  .tekton/multi-arch-pipelineref.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push

updates to snyk config from Michalis Papadopoullos (Product Security Engineer)
  .tekton/multi-arch-pipelineref.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push

updates to snyk config from Michalis Papadopoullos (Product Security Engineer) (#708)
  .tekton/multi-arch-pipelineref.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push

add task to report pipeline outcomes to slack
  .tekton/multi-arch-pipelineref.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push

bump13
  release-2.6/Dockerfile.hub-operator
  release-2.6/Dockerfile.must-gather
  release-2.6/Dockerfile.operator
  release-2.6/Dockerfile.signing
  release-2.6/Dockerfile.webhook
  release-2.6/Dockerfile.worker
Due: webhook-2-6-on-push

fix slack updating task
  .tekton/multi-arch-pipelineref.yaml
Due: operator-2-4-on-push, webhook-2-6-on-push
