Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-2-2-on-push, hub-operator-bundle-2-3-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, must-gather-2-2-on-pull-request, must-gather-2-3-on-push, operator-2-4-on-push, operator-bundle-2-4-on-push, operator-bundle-2-5-on-pull-request, operator-bundle-2-5-on-push, operator-bundle-2-6-on-push, signing-2-5-on-push, webhook-2-6-on-push

Path conditions:
  fbc-hub-415-on-pull-request: any of: fbc/**
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-2-2-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-2-push.yaml)) or ((any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**)))
  hub-operator-bundle-2-3-on-push: (((((any of: release-2.3/pullspecs/operator-2-3.yaml) or (any of: release-2.3/pullspecs/must-gather-2-3.yaml)) or (any of: release-2.3/pullspecs/signing-2-3.yaml)) or (any of: release-2.3/pullspecs/webhook-2-3.yaml)) or (any of: release-2.3/pullspecs/worker-2-3.yaml)) or (any of: release-2.3/Dockerfile.hub-operator-bundle)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  must-gather-2-2-on-pull-request: (any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**))
  must-gather-2-3-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-3-push.yaml)) or ((any of: release-2.3/**) and (not (any of: release-2.3/pullspecs/**)))
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-4-on-push: (((((any of: release-2.4/pullspecs/operator-2-4.yaml) or (any of: release-2.4/pullspecs/must-gather-2-4.yaml)) or (any of: release-2.4/pullspecs/signing-2-4.yaml)) or (any of: release-2.4/pullspecs/webhook-2-4.yaml)) or (any of: release-2.4/pullspecs/worker-2-4.yaml)) or (any of: release-2.4/Dockerfile.operator-bundle)
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.operator-bundle)
  operator-bundle-2-6-on-push: (((((any of: release-2.6/pullspecs/operator-2-6.yaml) or (any of: release-2.6/pullspecs/must-gather-2-6.yaml)) or (any of: release-2.6/pullspecs/signing-2-6.yaml)) or (any of: release-2.6/pullspecs/webhook-2-6.yaml)) or (any of: release-2.6/pullspecs/worker-2-6.yaml)) or (any of: release-2.6/Dockerfile.operator-bundle)
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))
  webhook-2-6-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-6-push.yaml)) or ((any of: release-2.6/**) and (not (any of: release-2.6/pullspecs/**)))

add pipelines for ocp5.0
  .tekton/fbc-hub-50-pull-request.yaml
  .tekton/fbc-hub-50-push.yaml
  .tekton/fbc-op-50-pull-request.yaml
  .tekton/fbc-op-50-push.yaml
  fbc/Containerfile.catalogue.v5
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

fix typo in combine workflow
  .github/workflows/combine-nudges.yaml
Due: none

retry multiple times when getting prs to combine
  .github/scripts/combine_nudges.py
Due: none

fix typo
  .github/scripts/combine_nudges.py
Due: none

update fbcs for 2.5.2 and 2.6.1
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update base images to latest
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: none

build prod fbcs for 2.5.2 and 2.6.1
  config/pullspec_config.yaml
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
  scripts/create_fbc.py
  scripts/release.py
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

initial setup for kmm-2.7.0
  .gitmodules
  .tekton/hub-operator-2-7-pull-request.yaml
  .tekton/hub-operator-2-7-push.yaml
  .tekton/hub-operator-bundle-2-7-pull-request.yaml
  .tekton/hub-operator-bundle-2-7-push.yaml
  .tekton/must-gather-2-7-pull-request.yaml
  .tekton/must-gather-2-7-push.yaml
  .tekton/operator-2-7-pull-request.yaml
  .tekton/operator-2-7-push.yaml
  .tekton/operator-bundle-2-7-pull-request.yaml
  .tekton/operator-bundle-2-7-push.yaml
  .tekton/signing-2-7-pull-request.yaml
  .tekton/signing-2-7-push.yaml
  .tekton/webhook-2-7-pull-request.yaml
  .tekton/webhook-2-7-push.yaml
  .tekton/worker-2-7-pull-request.yaml
  .tekton/worker-2-7-push.yaml
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.hub-operator-bundle
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.operator-bundle
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
  release-2.7/build_settings.conf
Due: none

rebase to main
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: none

Kmm 2.7 setup (#1165)
  .gitmodules
  .tekton/hub-operator-2-7-pull-request.yaml
  .tekton/hub-operator-2-7-push.yaml
  .tekton/hub-operator-bundle-2-7-pull-request.yaml
  .tekton/hub-operator-bundle-2-7-push.yaml
  .tekton/must-gather-2-7-pull-request.yaml
  .tekton/must-gather-2-7-push.yaml
  .tekton/operator-2-7-pull-request.yaml
  .tekton/operator-2-7-push.yaml
  .tekton/operator-bundle-2-7-pull-request.yaml
  .tekton/operator-bundle-2-7-push.yaml
  .tekton/signing-2-7-pull-request.yaml
  .tekton/signing-2-7-push.yaml
  .tekton/webhook-2-7-pull-request.yaml
  .tekton/webhook-2-7-push.yaml
  .tekton/worker-2-7-pull-request.yaml
  .tekton/worker-2-7-push.yaml
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.hub-operator-bundle
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.operator-bundle
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
  release-2.7/build_settings.conf
Due: none

update 2.5.2 and 2.6.1 to reflect released status
  release-2.5/release-2.5.2/hub-operator-bundle.yaml
  release-2.5/release-2.5.2/hub-operator-bundle.yaml.released
  release-2.5/release-2.5.2/hub-operator.yaml
  release-2.5/release-2.5.2/hub-operator.yaml.released
  release-2.5/release-2.5.2/must-gather.yaml
  release-2.5/release-2.5.2/must-gather.yaml.released
  release-2.5/release-2.5.2/operator-bundle.yaml
  release-2.5/release-2.5.2/operator-bundle.yaml.released
  release-2.5/release-2.5.2/operator.yaml
  release-2.5/release-2.5.2/operator.yaml.released
  release-2.5/release-2.5.2/signing.yaml
  release-2.5/release-2.5.2/signing.yaml.released
  release-2.5/release-2.5.2/webhook.yaml
  release-2.5/release-2.5.2/webhook.yaml.released
  release-2.5/release-2.5.2/worker.yaml
  release-2.5/release-2.5.2/worker.yaml.released
  release-2.6/release-2.6.1/hub-operator-bundle.yamld.released
  release-2.6/release-2.6.1/hub-operator.yamld.released
  release-2.6/release-2.6.1/must-gather.yamld.released
  release-2.6/release-2.6.1/operator-bundle.yamld.released
  release-2.6/release-2.6.1/operator.yamld.released
  release-2.6/release-2.6.1/signing.yamld.released
  release-2.6/release-2.6.1/webhook.yamld.released
  release-2.6/release-2.6.1/worker.yamld.released
Due: signing-2-5-on-push, webhook-2-6-on-push

update prefetched rpms
  UPDATE_PREFETCH.md
  config/redhat.repo
  rpms.lock.yaml
Due: none

create release-2.7.0 pullspec dir
  release-2.6/release-2.6.1/hub-operator-bundle.yaml.released
  release-2.6/release-2.6.1/hub-operator.yaml.released
  release-2.6/release-2.6.1/must-gather.yaml.released
  release-2.6/release-2.6.1/operator-bundle.yaml.released
  release-2.6/release-2.6.1/operator.yaml.released
  release-2.6/release-2.6.1/signing.yaml.released
  release-2.6/release-2.6.1/webhook.yaml.released
  release-2.6/release-2.6.1/worker.yaml.released
  release-2.7/release-2.7.0/hub-operator-bundle.yaml
  release-2.7/release-2.7.0/hub-operator.yaml
  release-2.7/release-2.7.0/must-gather.yaml
  release-2.7/release-2.7.0/operator-bundle.yaml
  release-2.7/release-2.7.0/operator.yaml
  release-2.7/release-2.7.0/signing.yaml
  release-2.7/release-2.7.0/webhook.yaml
  release-2.7/release-2.7.0/worker.yaml
Due: webhook-2-6-on-push

update 2.7 pullspecs
  release-2.7/release-2.7.0/hub-operator-bundle.yaml
  release-2.7/release-2.7.0/hub-operator.yaml
  release-2.7/release-2.7.0/must-gather.yaml
  release-2.7/release-2.7.0/operator-bundle.yaml
  release-2.7/release-2.7.0/operator.yaml
  release-2.7/release-2.7.0/signing.yaml
  release-2.7/release-2.7.0/webhook.yaml
  release-2.7/release-2.7.0/worker.yaml
Due: none

pullspec update
  release-2.7/release-2.7.0/must-gather.yaml
Due: none

bump 2.7 build
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: none

Red Hat Konflux update hub-operator-bundle-2-7
  .tekton/hub-operator-bundle-2-7-pull-request.yaml
  .tekton/hub-operator-bundle-2-7-push.yaml
Due: none

Red Hat Konflux update operator-bundle-2-7
  .tekton/operator-bundle-2-7-pull-request.yaml
  .tekton/operator-bundle-2-7-push.yaml
Due: none

bump 2-7 builds to diagnose imagerepo update-component-image issue
  release-2.6/release-2.6.1/hub-operator-bundle.yaml
  release-2.6/release-2.6.1/hub-operator.yaml
  release-2.6/release-2.6.1/must-gather.yaml
  release-2.6/release-2.6.1/operator-bundle.yaml
  release-2.6/release-2.6.1/operator.yaml
  release-2.6/release-2.6.1/signing.yaml
  release-2.6/release-2.6.1/webhook.yaml
  release-2.6/release-2.6.1/worker.yaml
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: webhook-2-6-on-push

Red Hat Konflux update worker-2-7
  .tekton/worker-2-7-pull-request.yaml
  .tekton/worker-2-7-push.yaml
Due: none

Red Hat Konflux update webhook-2-7
  .tekton/webhook-2-7-pull-request.yaml
  .tekton/webhook-2-7-push.yaml
Due: none

Red Hat Konflux update signing-2-7
  .tekton/signing-2-7-pull-request.yaml
  .tekton/signing-2-7-push.yaml
Due: none

Red Hat Konflux update must-gather-2-7
  .tekton/must-gather-2-7-pull-request.yaml
  .tekton/must-gather-2-7-push.yaml
Due: none

Red Hat Konflux update hub-operator-2-7
  .tekton/hub-operator-2-7-pull-request.yaml
  .tekton/hub-operator-2-7-push.yaml
Due: none

Red Hat Konflux update operator-2-7
  .tekton/operator-2-7-pull-request.yaml
  .tekton/operator-2-7-push.yaml
Due: none

update fbcs for kmm 2.7
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

remove obsolete automerge workflow
  .github/workflows/automerge-konflux.yaml
  .tekton/images-mirror-set.yaml
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
  release-2.7/release-2.7.0/hub-operator-bundle.yaml
  release-2.7/release-2.7.0/operator-bundle.yaml
  scripts/create_fbc.py
  scripts/release.py
  scripts/release_to_qe.py
Due: none

bump the 2.7 release
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: none

make combine-nudges noti require per version config
  .github/scripts/combine_nudges.py
  .github/scripts/nudges.yaml
Due: none

enable auto-release to staging for bundles
  .github/workflows/combine-nudges.yaml
Due: none

build fbs for 2.7.0 r2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push
