Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-op-416-on-push, fbc-op-418-on-push, hub-operator-bundle-2-5-on-push, operator-bundle-2-5-on-pull-request, signing-2-5-on-push

Path conditions:
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))

fix for the build image for KONFLUX-10262
  .tekton/catalogue-pipelineref.yaml
  .tekton/multi-arch-pipelineref.yaml
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
Due: signing-2-5-on-push

update pullspecs
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/hub-operator-bundle-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/operator-bundle-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: fbc-op-416-on-push, fbc-op-418-on-push, hub-operator-bundle-2-5-on-push

update FBCs for kmm 375752c
  fbc/hub-migrated/kernel-module-management-hub/catalog.json
  fbc/hub/kernel-module-management-hub/catalog.json
  fbc/op-migrated/kernel-module-management/catalog.json
  fbc/op/kernel-module-management/catalog.json
  release-2.5/pullspecs/hub-operator-bundle-2-5.yaml
  release-2.5/pullspecs/operator-bundle-2-5.yaml
Due: fbc-op-416-on-push, fbc-op-418-on-push

Red Hat Konflux update fbc-hub-421
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
Due: none

Red Hat Konflux update fbc-op-421
  .tekton/fbc-op-421-pull-request.yaml
  .tekton/fbc-op-421-push.yaml
Due: none

bump 8
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
Due: signing-2-5-on-push

bump 2.5 (375752c) AND 2.4 (082b843)
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.hub-operator-bundle
  release-2.4/Dockerfile.must-gather
  release-2.4/Dockerfile.operator
  release-2.4/Dockerfile.operator-bundle
  release-2.4/Dockerfile.signing
  release-2.4/Dockerfile.webhook
  release-2.4/Dockerfile.worker
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
Due: signing-2-5-on-push

bump 2.5 (375752c) AND 2.4 (082b843)
  .tekton/hub-operator-2-4-pull-request.yaml
  .tekton/hub-operator-2-4-push.yaml
  .tekton/hub-operator-bundle-2-4-pull-request.yaml
  .tekton/hub-operator-bundle-2-4-push.yaml
  .tekton/must-gather-2-4-pull-request.yaml
  .tekton/must-gather-2-4-push.yaml
  .tekton/operator-2-4-pull-request.yaml
  .tekton/operator-2-4-push.yaml
  .tekton/operator-bundle-2-4-pull-request.yaml
  .tekton/operator-bundle-2-4-push.yaml
  .tekton/signing-2-4-pull-request.yaml
  .tekton/signing-2-4-push.yaml
  .tekton/webhook-2-4-pull-request.yaml
  .tekton/webhook-2-4-push.yaml
  .tekton/worker-2-4-pull-request.yaml
  .tekton/worker-2-4-push.yaml
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.hub-operator-bundle
  release-2.4/Dockerfile.must-gather
  release-2.4/Dockerfile.operator
  release-2.4/Dockerfile.operator-bundle
  release-2.4/Dockerfile.signing
  release-2.4/Dockerfile.webhook
  release-2.4/Dockerfile.worker
  release-2.4/build_settings.conf
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
  release-2.5/build_settings.conf
Due: signing-2-5-on-push

build bundles for 375752c
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

trigger push pipelines on pipelines updates being pushed
  .tekton/hub-operator-2-5-push.yaml
  .tekton/must-gather-2-5-push.yaml
  .tekton/operator-2-5-push.yaml
  .tekton/signing-2-5-push.yaml
  .tekton/webhook-2-5-push.yaml
  .tekton/worker-2-5-push.yaml
Due: none

update operand pullspecs (kmm-2.5 375752c)
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

build FBCs for 375752c
  fbc/hub-migrated/kernel-module-management-hub/catalog.json
  fbc/hub/kernel-module-management-hub/catalog.json
  fbc/op-migrated/kernel-module-management/catalog.json
  fbc/op/kernel-module-management/catalog.json
Due: fbc-op-416-on-push, fbc-op-418-on-push

setup to use run-opm-command task to build catalogs from templates
  .tekton/catalogue-pipelineref.yaml
  .tekton/fbc-hub-414-pull-request.yaml
  .tekton/fbc-hub-414-push.yaml
  .tekton/fbc-hub-415-pull-request.yaml
  .tekton/fbc-hub-415-push.yaml
  .tekton/fbc-hub-416-pull-request.yaml
  .tekton/fbc-hub-416-push.yaml
  .tekton/fbc-hub-417-pull-request.yaml
  .tekton/fbc-hub-417-push.yaml
  .tekton/fbc-hub-418-pull-request.yaml
  .tekton/fbc-hub-418-push.yaml
  .tekton/fbc-hub-419-pull-request.yaml
  .tekton/fbc-hub-419-push.yaml
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
  .tekton/fbc-op-414-pull-request.yaml
  .tekton/fbc-op-414-push.yaml
  .tekton/fbc-op-415-pull-request.yaml
  .tekton/fbc-op-415-push.yaml
  .tekton/fbc-op-416-pull-request.yaml
  .tekton/fbc-op-416-push.yaml
  .tekton/fbc-op-417-pull-request.yaml
  .tekton/fbc-op-417-push.yaml
  .tekton/fbc-op-418-pull-request.yaml
  .tekton/fbc-op-418-push.yaml
  .tekton/fbc-op-419-pull-request.yaml
  .tekton/fbc-op-419-push.yaml
  .tekton/fbc-op-420-pull-request.yaml
  .tekton/fbc-op-420-push.yaml
  .tekton/fbc-op-421-pull-request.yaml
  .tekton/fbc-op-421-push.yaml
  .tekton/images-mirror-set.yaml
  fbc/Containerfile.catalogue.hub-v414
  fbc/Containerfile.catalogue.op-v414
  fbc/configs/kernel-module-management/catalog.json
  fbc/hub-migrated/kernel-module-management-hub/catalog.json
  fbc/hub/kernel-module-management-hub/catalog.json
  fbc/op-migrated/kernel-module-management/catalog.json
Due: fbc-op-416-on-push, fbc-op-418-on-push

setup to use run-opm-command task to build catalogs from templates (#118)
  .tekton/catalogue-pipelineref.yaml
  .tekton/fbc-hub-414-pull-request.yaml
  .tekton/fbc-hub-414-push.yaml
  .tekton/fbc-hub-415-pull-request.yaml
  .tekton/fbc-hub-415-push.yaml
  .tekton/fbc-hub-416-pull-request.yaml
  .tekton/fbc-hub-416-push.yaml
  .tekton/fbc-hub-417-pull-request.yaml
  .tekton/fbc-hub-417-push.yaml
  .tekton/fbc-hub-418-pull-request.yaml
  .tekton/fbc-hub-418-push.yaml
  .tekton/fbc-hub-419-pull-request.yaml
  .tekton/fbc-hub-419-push.yaml
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
  .tekton/fbc-op-414-pull-request.yaml
  .tekton/fbc-op-414-push.yaml
  .tekton/fbc-op-415-pull-request.yaml
  .tekton/fbc-op-415-push.yaml
  .tekton/fbc-op-416-pull-request.yaml
  .tekton/fbc-op-416-push.yaml
  .tekton/fbc-op-417-pull-request.yaml
  .tekton/fbc-op-417-push.yaml
  .tekton/fbc-op-418-pull-request.yaml
  .tekton/fbc-op-418-push.yaml
  .tekton/fbc-op-419-pull-request.yaml
  .tekton/fbc-op-419-push.yaml
  .tekton/fbc-op-420-pull-request.yaml
  .tekton/fbc-op-420-push.yaml
  .tekton/fbc-op-421-pull-request.yaml
  .tekton/fbc-op-421-push.yaml
  .tekton/images-mirror-set.yaml
  fbc/Containerfile.catalogue.hub-v414
  fbc/Containerfile.catalogue.op-v414
  fbc/configs/kernel-module-management/catalog.json
  fbc/hub-migrated/kernel-module-management-hub/catalog.json
  fbc/hub/kernel-module-management-hub/catalog.json
  fbc/op-migrated/kernel-module-management/catalog.json
Due: fbc-op-416-on-push, fbc-op-418-on-push

Red Hat Konflux update signing-2-4
  .tekton/signing-2-4-pull-request.yaml
  .tekton/signing-2-4-push.yaml
Due: none

Red Hat Konflux update hub-operator-2-4
  .tekton/hub-operator-2-4-pull-request.yaml
  .tekton/hub-operator-2-4-push.yaml
Due: none

Red Hat Konflux update must-gather-2-4
  .tekton/must-gather-2-4-pull-request.yaml
  .tekton/must-gather-2-4-push.yaml
Due: none

Red Hat Konflux update operator-2-4
  .tekton/operator-2-4-pull-request.yaml
  .tekton/operator-2-4-push.yaml
Due: none

Red Hat Konflux update webhook-2-4
  .tekton/webhook-2-4-pull-request.yaml
  .tekton/webhook-2-4-push.yaml
Due: none

Red Hat Konflux update worker-2-4
  .tekton/worker-2-4-pull-request.yaml
  .tekton/worker-2-4-push.yaml
Due: none

Red Hat Konflux update operator-bundle-2-4
  .tekton/operator-bundle-2-4-pull-request.yaml
  .tekton/operator-bundle-2-4-push.yaml
Due: none

Red Hat Konflux update hub-operator-bundle-2-4
  .tekton/hub-operator-bundle-2-4-pull-request.yaml
  .tekton/hub-operator-bundle-2-4-push.yaml
Due: none

bump the 2.4 builds
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.must-gather
  release-2.4/Dockerfile.operator
  release-2.4/Dockerfile.signing
  release-2.4/Dockerfile.webhook
  release-2.4/Dockerfile.worker
Due: none

update kmm 2.5 to 0f43914
  UPDATE_PREFETCH.md
Due: none

update operand pullspecs (kmm-2.5 0f43914)
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

set up fbc templates for kmm-2-5-staging-r4-1
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-op-416-on-push, fbc-op-418-on-push

Red Hat Konflux update fbc-hub-420
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
Due: none

rebuild 2.4 when pipelines update
  .tekton/hub-operator-2-4-push.yaml
  .tekton/must-gather-2-4-push.yaml
  .tekton/operator-2-4-push.yaml
  .tekton/signing-2-4-push.yaml
  .tekton/webhook-2-4-push.yaml
  .tekton/worker-2-4-push.yaml
Due: none

update to kmm 2.5 a7fd677
  .tekton/.multi-arch-pipelineref.yaml.swp
  .tekton/hub-operator-2-5-pull-request.yaml
  .tekton/hub-operator-2-5-push.yaml
  .tekton/must-gather-2-5-pull-request.yaml
  .tekton/must-gather-2-5-push.yaml
  .tekton/operator-2-5-pull-request.yaml
  .tekton/operator-2-5-push.yaml
  .tekton/signing-2-5-pull-request.yaml
  .tekton/signing-2-5-push.yaml
  .tekton/webhook-2-5-pull-request.yaml
  .tekton/webhook-2-5-push.yaml
  .tekton/worker-2-5-pull-request.yaml
  .tekton/worker-2-5-push.yaml
Due: none

workaround for changes in the midstream csv
  release-2.5/Dockerfile.hub-operator-bundle
  release-2.5/Dockerfile.operator-bundle
  scripts/make-csv.py
Due: hub-operator-bundle-2-5-on-push, signing-2-5-on-push

rebuild bundles
  release-2.5/Dockerfile.hub-operator-bundle
  release-2.5/Dockerfile.operator-bundle
Due: hub-operator-bundle-2-5-on-push, signing-2-5-on-push

update pullspecs for a7fd677
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

update fbc's for ea89965a
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-op-416-on-push, fbc-op-418-on-push

correct FBC_CONFIG path
  .tekton/fbc-hub-414-pull-request.yaml
  .tekton/fbc-hub-414-push.yaml
  .tekton/fbc-hub-415-pull-request.yaml
  .tekton/fbc-hub-415-push.yaml
  .tekton/fbc-hub-416-pull-request.yaml
  .tekton/fbc-hub-416-push.yaml
  .tekton/fbc-hub-417-pull-request.yaml
  .tekton/fbc-hub-417-push.yaml
  .tekton/fbc-hub-418-pull-request.yaml
  .tekton/fbc-hub-418-push.yaml
  .tekton/fbc-hub-419-pull-request.yaml
  .tekton/fbc-hub-419-push.yaml
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
  .tekton/fbc-op-414-pull-request.yaml
  .tekton/fbc-op-414-push.yaml
  .tekton/fbc-op-415-pull-request.yaml
  .tekton/fbc-op-415-push.yaml
  .tekton/fbc-op-416-pull-request.yaml
  .tekton/fbc-op-416-push.yaml
  .tekton/fbc-op-417-pull-request.yaml
  .tekton/fbc-op-417-push.yaml
  .tekton/fbc-op-418-pull-request.yaml
  .tekton/fbc-op-418-push.yaml
  .tekton/fbc-op-419-pull-request.yaml
  .tekton/fbc-op-419-push.yaml
  .tekton/fbc-op-420-pull-request.yaml
  .tekton/fbc-op-420-push.yaml
  .tekton/fbc-op-421-pull-request.yaml
  .tekton/fbc-op-421-push.yaml
  fbc/Containerfile.catalogue
Due: fbc-op-416-on-push, fbc-op-418-on-push

output catalog to the correct dir
  .tekton/fbc-hub-414-pull-request.yaml
  .tekton/fbc-hub-414-push.yaml
  .tekton/fbc-hub-415-pull-request.yaml
  .tekton/fbc-hub-415-push.yaml
  .tekton/fbc-hub-416-pull-request.yaml
  .tekton/fbc-hub-416-push.yaml
  .tekton/fbc-hub-417-pull-request.yaml
  .tekton/fbc-hub-417-push.yaml
  .tekton/fbc-hub-418-pull-request.yaml
  .tekton/fbc-hub-418-push.yaml
  .tekton/fbc-hub-419-pull-request.yaml
  .tekton/fbc-hub-419-push.yaml
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
  .tekton/fbc-op-414-pull-request.yaml
  .tekton/fbc-op-414-push.yaml
  .tekton/fbc-op-415-pull-request.yaml
  .tekton/fbc-op-415-push.yaml
  .tekton/fbc-op-416-pull-request.yaml
  .tekton/fbc-op-416-push.yaml
  .tekton/fbc-op-417-pull-request.yaml
  .tekton/fbc-op-417-push.yaml
  .tekton/fbc-op-418-pull-request.yaml
  .tekton/fbc-op-418-push.yaml
  .tekton/fbc-op-419-pull-request.yaml
  .tekton/fbc-op-419-push.yaml
  .tekton/fbc-op-420-pull-request.yaml
  .tekton/fbc-op-420-push.yaml
  .tekton/fbc-op-421-pull-request.yaml
  .tekton/fbc-op-421-push.yaml
  fbc/Containerfile.catalogue
Due: fbc-op-416-on-push, fbc-op-418-on-push

correct the git commit tag passed to operator builds (ea89965)
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.operator
  release-2.4/build_settings.conf
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.operator
  release-2.5/build_settings.conf
Due: signing-2-5-on-push

see what we're copying in
  release-2.5/Dockerfile.operator
Due: signing-2-5-on-push

Update Dockerfile.operator
  release-2.5/Dockerfile.operator
Due: signing-2-5-on-push
