Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-2-2-on-push, hub-operator-bundle-2-3-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, must-gather-2-2-on-pull-request, must-gather-2-3-on-push, operator-2-4-on-push, operator-bundle-2-4-on-push, operator-bundle-2-5-on-pull-request, operator-bundle-2-5-on-push, operator-bundle-2-6-on-push, signing-2-5-on-push, webhook-2-6-on-push

Path conditions:
  fbc-hub-415-on-pull-request: any of: fbc/**
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-2-2-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-2-push.yaml)) or ((any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**)))
  hub-operator-bundle-2-3-on-push: (((((any of: release-2.3/pullspecs/operator-2-3.yaml) or (any of: release-2.3/pullspecs/must-gather-2-3.yaml)) or (any of: release-2.3/pullspecs/signing-2-3.yaml)) or (any of: release-2.3/pullspecs/webhook-2-3.yaml)) or (any of: release-2.3/pullspecs/worker-2-3.yaml)) or (any of: release-2.3/Dockerfile.hub-operator-bundle)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  must-gather-2-2-on-pull-request: (any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**))
  must-gather-2-3-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-3-push.yaml)) or ((any of: release-2.3/**) and (not (any of: release-2.3/pullspecs/**)))
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-4-on-push: (((((any of: release-2.4/pullspecs/operator-2-4.yaml) or (any of: release-2.4/pullspecs/must-gather-2-4.yaml)) or (any of: release-2.4/pullspecs/signing-2-4.yaml)) or (any of: release-2.4/pullspecs/webhook-2-4.yaml)) or (any of: release-2.4/pullspecs/worker-2-4.yaml)) or (any of: release-2.4/Dockerfile.operator-bundle)
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.operator-bundle)
  operator-bundle-2-6-on-push: (((((any of: release-2.6/pullspecs/operator-2-6.yaml) or (any of: release-2.6/pullspecs/must-gather-2-6.yaml)) or (any of: release-2.6/pullspecs/signing-2-6.yaml)) or (any of: release-2.6/pullspecs/webhook-2-6.yaml)) or (any of: release-2.6/pullspecs/worker-2-6.yaml)) or (any of: release-2.6/Dockerfile.operator-bundle)
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))
  webhook-2-6-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-6-push.yaml)) or ((any of: release-2.6/**) and (not (any of: release-2.6/pullspecs/**)))

no longer build 2.2/3/4 on pushes to main (no longer supported)
  .tekton/hub-operator-2-2-push.yaml
  .tekton/hub-operator-2-3-push.yaml
  .tekton/hub-operator-2-4-push.yaml
  .tekton/hub-operator-bundle-2-2-push.yaml
  .tekton/hub-operator-bundle-2-3-push.yaml
  .tekton/hub-operator-bundle-2-4-push.yaml
  .tekton/must-gather-2-2-push.yaml
  .tekton/must-gather-2-3-push.yaml
  .tekton/must-gather-2-4-push.yaml
  .tekton/operator-2-2-push.yaml
  .tekton/operator-2-3-push.yaml
  .tekton/operator-2-4-push.yaml
  .tekton/operator-bundle-2-2-push.yaml
  .tekton/operator-bundle-2-3-push.yaml
  .tekton/operator-bundle-2-4-push.yaml
  .tekton/signing-2-2-push.yaml
  .tekton/signing-2-3-push.yaml
  .tekton/signing-2-4-push.yaml
  .tekton/webhook-2-2-push.yaml
  .tekton/webhook-2-3-push.yaml
  .tekton/webhook-2-4-push.yaml
  .tekton/worker-2-2-push.yaml
  .tekton/worker-2-3-push.yaml
  .tekton/worker-2-4-push.yaml
Due: hub-operator-2-2-on-push, must-gather-2-3-on-push, operator-2-4-on-push

update prefetch rpms
  redhat.repo
  rpms.lock.yaml
Due: none

fix snyk-proj-name after enterprise contract failure
  .tekton/multi-arch-pipelineref.yaml
Due: hub-operator-2-2-on-push, must-gather-2-3-on-push, operator-2-4-on-push, webhook-2-6-on-push

correct snyck org id
  .tekton/multi-arch-pipelineref.yaml
Due: hub-operator-2-2-on-push, must-gather-2-3-on-push, operator-2-4-on-push, webhook-2-6-on-push

setup 2.6.1 in the build_settings.conf
  .tekton/bundle-pipelineref.yaml
  .tekton/multi-arch-pipelineref.yaml
  release-2.6/build_settings.conf
Due: hub-operator-2-2-on-push, must-gather-2-3-on-push, operator-2-4-on-push, webhook-2-6-on-push

update fbcs for 2.5.2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

add ocp 4.23 catalogue support
  .tekton/fbc-hub-423-pull-request.yaml
  .tekton/fbc-hub-423-push.yaml
  .tekton/fbc-op-423-pull-request.yaml
  .tekton/fbc-op-423-push.yaml
Due: none

kick the ocp423 fbc builds
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

add kmm2.6.1 to the catalogues
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update rsync to fix RHSA-2026:26410
  redhat.repo
  rpms.lock.yaml
Due: none

fixup openssl versioning
  UPDATE_PREFETCH.md
  redhat.repo
  rpms.lock.yaml
Due: none

update fbcs for 2.5.2 r2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

fix type in hub-catalog and build fbcs for 2.5.2 r2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update fbcs for 2.6.1 r2
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

build fbcs for 2.5.2 r3
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

build fbcs for 2.6.1 r3
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

fix botched merge in catalogs
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

move pullspec_config.yaml into the config/ dir
  .gitignore
  config/pullspec_config.yaml
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
  scripts/create_fbc.py
  scripts/make-csv.py
  scripts/release.py
  scripts/release_fbc.py
  scripts/release_to_qe.py
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

rpms.lock.yaml needs to be in the repo root
  rpms.lock.yaml
Due: none

remove stray .pyc files
  scripts/kmm_konflux/__pycache__/config.cpython-314.pyc
  scripts/kmm_konflux/__pycache__/git_commands.cpython-314.pyc
  scripts/kmm_konflux/__pycache__/konflux_api.cpython-314.pyc
  scripts/kmm_konflux/__pycache__/versions.cpython-314.pyc
Due: none

disable 2-[234] pull-request builds
  .tekton/hub-operator-2-2-pull-request.yaml
  .tekton/hub-operator-2-3-pull-request.yaml
  .tekton/hub-operator-2-4-pull-request.yaml
  .tekton/hub-operator-bundle-2-2-pull-request.yaml
  .tekton/hub-operator-bundle-2-3-pull-request.yaml
  .tekton/hub-operator-bundle-2-4-pull-request.yaml
  .tekton/must-gather-2-2-pull-request.yaml
  .tekton/must-gather-2-3-pull-request.yaml
  .tekton/must-gather-2-4-pull-request.yaml
  .tekton/operator-2-2-pull-request.yaml
  .tekton/operator-2-3-pull-request.yaml
  .tekton/operator-2-4-pull-request.yaml
  .tekton/operator-bundle-2-2-pull-request.yaml
  .tekton/operator-bundle-2-3-pull-request.yaml
  .tekton/operator-bundle-2-4-pull-request.yaml
  .tekton/signing-2-2-pull-request.yaml
  .tekton/signing-2-3-pull-request.yaml
  .tekton/signing-2-4-pull-request.yaml
  .tekton/webhook-2-2-pull-request.yaml
  .tekton/webhook-2-3-pull-request.yaml
  .tekton/webhook-2-4-pull-request.yaml
  .tekton/worker-2-2-pull-request.yaml
  .tekton/worker-2-3-pull-request.yaml
  .tekton/worker-2-4-pull-request.yaml
Due: none

narrow down nudges to only files ending in .yaml
  config/namespace-wide-nudging-renovate-config.yaml
  release-2.5/release-2.5.2/hub-operator-bundle.yaml
  release-2.5/release-2.5.2/hub-operator.yaml
  release-2.5/release-2.5.2/must-gather.yaml
  release-2.5/release-2.5.2/operator-bundle.yaml
  release-2.5/release-2.5.2/operator.yaml
  release-2.5/release-2.5.2/signing.yaml
  release-2.5/release-2.5.2/webhook.yaml
  release-2.5/release-2.5.2/worker.yaml
  release-2.6/release-2.6.1/hub-operator-bundle.yaml
  release-2.6/release-2.6.1/hub-operator.yaml
  release-2.6/release-2.6.1/must-gather.yaml
  release-2.6/release-2.6.1/operator-bundle.yaml
  release-2.6/release-2.6.1/operator.yaml
  release-2.6/release-2.6.1/signing.yaml
  release-2.6/release-2.6.1/webhook.yaml
  release-2.6/release-2.6.1/worker.yaml
Due: signing-2-5-on-push, webhook-2-6-on-push

improve chainging of operand/bundle builds
  .github/scripts/combine_nudges.py
  .github/workflows/combine-nudges.yaml
  scripts/release.py
Due: none

improve chaining of operand/bundle builds
  .github/scripts/combine_nudges.py
  .github/workflows/combine-nudges.yaml
  scripts/release.py
Due: none

Update combine-nudges.yaml
  .github/workflows/combine-nudges.yaml
Due: none

try to pass label to release pipeline
  .github/scripts/combine_nudges.py
Due: none

more ouput variable debugging
  .github/scripts/combine_nudges.py
  .github/workflows/combine-nudges.yaml
Due: none

write non-github ouput to stderr
  .github/scripts/combine_nudges.py
  .github/scripts/git_commands.py
Due: none

setup for 2.5.2 release 16ee74cbbb
  fbc/hub-catalog-template.json
  fbc/hub-prod-catalog-template.json
  fbc/hub-stage-catalog-template.json
  fbc/op-catalog-template.json
  fbc/op-prod-catalog-template.json
  fbc/op-stage-catalog-template.json
  release-2.0/build_settings.conf
  release-2.0/release-2.0.0/hub-operator-bundle.yaml.released
  release-2.0/release-2.0.0/operator-bundle.yaml.released
  release-2.0/release-2.0.1/hub-operator-bundle.yaml.released
  release-2.0/release-2.0.1/operator-bundle.yaml.released
  release-2.0/release-2.0.2/hub-operator-bundle.yaml.released
  release-2.0/release-2.0.2/operator-bundle.yaml.released
  release-2.1/build_settings.conf
  release-2.1/release-2.1.0/hub-operator-bundle.yaml.released
  release-2.1/release-2.1.0/operator-bundle.yaml.released
  release-2.1/release-2.1.1/hub-operator-bundle.yaml.released
  release-2.1/release-2.1.1/operator-bundle.yaml.released
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

fix labeling running after actions that depend on it
  .github/scripts/combine_nudges.py
  .github/workflows/combine-nudges.yaml
  scripts/release.py
Due: none

Update combine_nudges.py
  .github/scripts/combine_nudges.py
Due: none

update fbc's for 2.5.2 and 2.6.1
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

add version numbers to snapshot & release names
  .github/workflows/combine-nudges.yaml
  scripts/release.py
Due: none

initial setup for kmm-2.7.0
  .gitmodules
  .tekton/hub-operator-2-7-pull-request.yaml
  .tekton/hub-operator-2-7-push.yaml
  .tekton/hub-operator-bundle-2-7-pull-request.yaml
  .tekton/hub-operator-bundle-2-7-push.yaml
  .tekton/must-gather-2-7-pull-request.yaml
  .tekton/must-gather-2-7-push.yaml
  .tekton/operator-2-7-pull-request.yaml
  .tekton/operator-2-7-push.yaml
  .tekton/operator-bundle-2-7-pull-request.yaml
  .tekton/operator-bundle-2-7-push.yaml
  .tekton/signing-2-7-pull-request.yaml
  .tekton/signing-2-7-push.yaml
  .tekton/webhook-2-7-pull-request.yaml
  .tekton/webhook-2-7-push.yaml
  .tekton/worker-2-7-pull-request.yaml
  .tekton/worker-2-7-push.yaml
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.hub-operator-bundle
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.operator-bundle
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
  release-2.7/build_settings.conf
Due: none

rebase to main
  release-2.7/Dockerfile.hub-operator
  release-2.7/Dockerfile.must-gather
  release-2.7/Dockerfile.operator
  release-2.7/Dockerfile.signing
  release-2.7/Dockerfile.webhook
  release-2.7/Dockerfile.worker
Due: none
