Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, operator-2-4-on-push, operator-bundle-2-5-on-pull-request, signing-2-5-on-push

Path conditions:
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))

Update Dockerfile.operator
  release-2.5/Dockerfile.operator
Due: signing-2-5-on-push

correct the git commit tag passed to operator builds (ea89965)
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.operator
  release-2.4/build_settings.conf
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.operator
  release-2.5/build_settings.conf
Due: operator-2-4-on-push, signing-2-5-on-push

update pullspecs for ea89965
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

update FBCs for ea89965
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

Red Hat Konflux update hub-operator-2-2
  .tekton/hub-operator-2-2-pull-request.yaml
  .tekton/hub-operator-2-2-push.yaml
Due: none

Red Hat Konflux update must-gather-2-2
  .tekton/must-gather-2-2-pull-request.yaml
  .tekton/must-gather-2-2-push.yaml
Due: none

Red Hat Konflux update operator-2-2
  .tekton/operator-2-2-pull-request.yaml
  .tekton/operator-2-2-push.yaml
Due: none

Red Hat Konflux update signing-2-2
  .tekton/signing-2-2-pull-request.yaml
  .tekton/signing-2-2-push.yaml
Due: none

Red Hat Konflux update webhook-2-2
  .tekton/webhook-2-2-pull-request.yaml
  .tekton/webhook-2-2-push.yaml
Due: none

Red Hat Konflux update worker-2-2
  .tekton/worker-2-2-pull-request.yaml
  .tekton/worker-2-2-push.yaml
Due: none

Red Hat Konflux update operator-bundle-2-2
  .tekton/operator-bundle-2-2-pull-request.yaml
  .tekton/operator-bundle-2-2-push.yaml
Due: none

Red Hat Konflux update hub-operator-bundle-2-2
  .tekton/hub-operator-bundle-2-2-pull-request.yaml
  .tekton/hub-operator-bundle-2-2-push.yaml
Due: none

Red Hat Konflux update hub-operator-2-3
  .tekton/hub-operator-2-3-pull-request.yaml
  .tekton/hub-operator-2-3-push.yaml
Due: none

Red Hat Konflux update must-gather-2-3
  .tekton/must-gather-2-3-pull-request.yaml
  .tekton/must-gather-2-3-push.yaml
Due: none

Red Hat Konflux update operator-2-3
  .tekton/operator-2-3-pull-request.yaml
  .tekton/operator-2-3-push.yaml
Due: none

Red Hat Konflux update signing-2-3
  .tekton/signing-2-3-pull-request.yaml
  .tekton/signing-2-3-push.yaml
Due: none

Red Hat Konflux update webhook-2-3
  .tekton/webhook-2-3-pull-request.yaml
  .tekton/webhook-2-3-push.yaml
Due: none

Red Hat Konflux update worker-2-3
  .tekton/worker-2-3-pull-request.yaml
  .tekton/worker-2-3-push.yaml
Due: none

Red Hat Konflux update operator-bundle-2-3
  .tekton/operator-bundle-2-3-pull-request.yaml
  .tekton/operator-bundle-2-3-push.yaml
Due: none

Red Hat Konflux update hub-operator-bundle-2-3
  .tekton/hub-operator-bundle-2-3-pull-request.yaml
  .tekton/hub-operator-bundle-2-3-push.yaml
Due: none

make-csv to not catch operator-hub when replacing operator
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
  scripts/make-csv.py
Due: signing-2-5-on-push

update pullspecs for ea89965 operands
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

build fbcs for the r8-1 build (ea89965)
  scripts/get_last_promoted.py
  scripts/make-csv.py
  scripts/make-pipeline.py
  scripts/release_to_qe.py
  scripts/release_yaml.py
  scripts/release_yaml.py.bak
  scripts/rh_kmm_konflux/rh_kmm_konflux_helpers.py
  scripts/setup-fbc.sh
  scripts/update_fbc.py
  scripts/update_fbc_old.py
  templates/hub-catalog-template.json
  templates/op-catalog-template.json
Due: none

update kmm 2.5 ec665a6
  scripts/rh_kmm_konflux/rh_kmm_konflux_helpers.py
Due: none

update operand pullspecs for kmm-2.5 ec665a6
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

update FBCs for kmm-2.5 ec665a6
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update kmm-2.5 to e7838d5e
  scripts/make-csv.py
  scripts/release_to_qe.py
  scripts/update_fbc.py
Due: none

update prefetch rpm list
  UPDATE_PREFETCH.md
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
  rpms.lock.yaml
Due: signing-2-5-on-push

update pullspecs for kmm-2-5 operands e7838d5
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

update fbcs for kmm-2-5 e7838d5
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

bump 2.2 2.3 and 2.4
  release-2.2/Dockerfile.hub-operator
  release-2.2/Dockerfile.must-gather
  release-2.2/Dockerfile.operator
  release-2.2/Dockerfile.signing
  release-2.2/Dockerfile.webhook
  release-2.2/Dockerfile.worker
  release-2.3/Dockerfile.hub-operator
  release-2.3/Dockerfile.must-gather
  release-2.3/Dockerfile.operator
  release-2.3/Dockerfile.signing
  release-2.3/Dockerfile.webhook
  release-2.3/Dockerfile.worker
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.must-gather
  release-2.4/Dockerfile.operator
  release-2.4/Dockerfile.signing
  release-2.4/Dockerfile.webhook
  release-2.4/Dockerfile.worker
  scripts/get_last_promoted.py
  scripts/release_to_qe.py
  scripts/rh_kmm_konflux/rh_kmm_konflux_helpers.py
  scripts/update_fbc.py
Due: operator-2-4-on-push
