Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-bundle-2-3-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, must-gather-2-2-on-pull-request, operator-2-4-on-push, operator-bundle-2-5-on-pull-request, signing-2-5-on-push

Path conditions:
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-bundle-2-3-on-push: (((((any of: release-2.3/pullspecs/operator-2-3.yaml) or (any of: release-2.3/pullspecs/must-gather-2-3.yaml)) or (any of: release-2.3/pullspecs/signing-2-3.yaml)) or (any of: release-2.3/pullspecs/webhook-2-3.yaml)) or (any of: release-2.3/pullspecs/worker-2-3.yaml)) or (any of: release-2.3/Dockerfile.hub-operator-bundle)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  must-gather-2-2-on-pull-request: (any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**))
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))

update pullspecs for 2.2 2.3 and 2.4
  release-2.2/pullspecs/hub-operator-2-2.yaml
  release-2.2/pullspecs/must-gather-2-2.yaml
  release-2.2/pullspecs/operator-2-2.yaml
  release-2.2/pullspecs/signing-2-2.yaml
  release-2.2/pullspecs/webhook-2-2.yaml
  release-2.2/pullspecs/worker-2-2.yaml
  release-2.3/pullspecs/hub-operator-2-3.yaml
  release-2.3/pullspecs/must-gather-2-3.yaml
  release-2.3/pullspecs/operator-2-3.yaml
  release-2.3/pullspecs/signing-2-3.yaml
  release-2.3/pullspecs/webhook-2-3.yaml
  release-2.3/pullspecs/worker-2-3.yaml
  release-2.4/pullspecs/hub-operator-2-4.yaml
  release-2.4/pullspecs/must-gather-2-4.yaml
  release-2.4/pullspecs/operator-2-4.yaml
  release-2.4/pullspecs/signing-2-4.yaml
  release-2.4/pullspecs/webhook-2-4.yaml
  release-2.4/pullspecs/worker-2-4.yaml
Due: hub-operator-bundle-2-3-on-push

fix the 2.4 push pipline not getting pre-fetched rpms
  .tekton/operator-bundle-2-4-push.yaml
  release-2.4/build_settings.conf
Due: operator-2-4-on-push

update pullspecs for kmm 2.4
  release-2.4/pullspecs/hub-operator-2-4.yaml
  release-2.4/pullspecs/must-gather-2-4.yaml
  release-2.4/pullspecs/operator-2-4.yaml
  release-2.4/pullspecs/signing-2-4.yaml
  release-2.4/pullspecs/webhook-2-4.yaml
  release-2.4/pullspecs/worker-2-4.yaml
Due: none

update hub-operator-bundle to get rpm prefetch working
  .tekton/hub-operator-bundle-2-4-push.yaml
Due: operator-2-4-on-push

update pullspecs for kmm 2.4 (again)
  release-2.4/pullspecs/hub-operator-2-4.yaml
  release-2.4/pullspecs/must-gather-2-4.yaml
  release-2.4/pullspecs/operator-2-4.yaml
  release-2.4/pullspecs/signing-2-4.yaml
  release-2.4/pullspecs/webhook-2-4.yaml
  release-2.4/pullspecs/worker-2-4.yaml
Due: none

update kmm-2.5 to 50d47b7
  UPDATE_PREFETCH.md
  rpms.in.yaml
  rpms.lock.yaml
Due: none

update pullspecs for 50d47b7
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

update fbcs for kmm-2-5 50d47b7
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

point fbc's to the prod registry
  fbc/hub-prod-catalog-template.json
  fbc/hub-stage-catalog-template.json
  fbc/op-prod-catalog-template.json
  fbc/op-stage-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update pullspecs for kmm-2-5 8b8b5eb
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

add newly mandatory labels in dockerfiles (kmm-2.5 8b8b5eb)
  .tekton/multi-arch-pipelineref.yaml
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.must-gather
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.signing
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
Due: operator-2-4-on-push, signing-2-5-on-push

create fbcs for kmm-2-5 8b8b5eb
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

correct the config path for the hub operator
  .tekton/fbc-hub-414-pull-request.yaml
  .tekton/fbc-hub-414-push.yaml
  .tekton/fbc-hub-415-pull-request.yaml
  .tekton/fbc-hub-415-push.yaml
  .tekton/fbc-hub-416-pull-request.yaml
  .tekton/fbc-hub-416-push.yaml
  .tekton/fbc-hub-417-pull-request.yaml
  .tekton/fbc-hub-417-push.yaml
  .tekton/fbc-hub-418-pull-request.yaml
  .tekton/fbc-hub-418-push.yaml
  .tekton/fbc-hub-419-pull-request.yaml
  .tekton/fbc-hub-419-push.yaml
  .tekton/fbc-hub-420-pull-request.yaml
  .tekton/fbc-hub-420-push.yaml
  .tekton/fbc-hub-421-pull-request.yaml
  .tekton/fbc-hub-421-push.yaml
Due: none

bump the FBC's
  fbc/Containerfile.catalogue
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

remove fbc/configs/* dir
  fbc/configs/kernel-module-management/catalog.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

build release fbcs for kmm-2.5 8b8b5eb
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update vendor labels in 2.2/3/4
  release-2.2/Dockerfile.hub-operator
  release-2.2/Dockerfile.hub-operator-bundle
  release-2.2/Dockerfile.must-gather
  release-2.2/Dockerfile.operator
  release-2.2/Dockerfile.operator-bundle
  release-2.2/Dockerfile.signing
  release-2.2/Dockerfile.webhook
  release-2.2/Dockerfile.worker
  release-2.3/Dockerfile.hub-operator
  release-2.3/Dockerfile.hub-operator-bundle
  release-2.3/Dockerfile.must-gather
  release-2.3/Dockerfile.operator
  release-2.3/Dockerfile.operator-bundle
  release-2.3/Dockerfile.signing
  release-2.3/Dockerfile.webhook
  release-2.3/Dockerfile.worker
  release-2.4/Dockerfile.hub-operator
  release-2.4/Dockerfile.hub-operator-bundle
  release-2.4/Dockerfile.must-gather
  release-2.4/Dockerfile.operator
  release-2.4/Dockerfile.operator-bundle
  release-2.4/Dockerfile.signing
  release-2.4/Dockerfile.webhook
  release-2.4/Dockerfile.worker
Due: hub-operator-bundle-2-3-on-push, must-gather-2-2-on-pull-request, operator-2-4-on-push

update pullspecs for kmm-2.2 2.3 and 2.4
  release-2.2/pullspecs/hub-operator-2-2.yaml
  release-2.2/pullspecs/must-gather-2-2.yaml
  release-2.2/pullspecs/operator-2-2.yaml
  release-2.2/pullspecs/signing-2-2.yaml
  release-2.2/pullspecs/webhook-2-2.yaml
  release-2.2/pullspecs/worker-2-2.yaml
  release-2.3/pullspecs/hub-operator-2-3.yaml
  release-2.3/pullspecs/must-gather-2-3.yaml
  release-2.3/pullspecs/operator-2-3.yaml
  release-2.3/pullspecs/signing-2-3.yaml
  release-2.3/pullspecs/webhook-2-3.yaml
  release-2.3/pullspecs/worker-2-3.yaml
  release-2.4/pullspecs/hub-operator-2-4.yaml
  release-2.4/pullspecs/must-gather-2-4.yaml
  release-2.4/pullspecs/operator-2-4.yaml
  release-2.4/pullspecs/signing-2-4.yaml
  release-2.4/pullspecs/webhook-2-4.yaml
  release-2.4/pullspecs/worker-2-4.yaml
Due: hub-operator-bundle-2-3-on-push

build for kmm-2.5.1 771db63
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
  release-2.5/build_settings.conf
Due: signing-2-5-on-push

update pullspecs for kmm-2.5.1 771db63
  release-2.5/pullspecs/hub-operator-2-5.yaml
  release-2.5/pullspecs/must-gather-2-5.yaml
  release-2.5/pullspecs/operator-2-5.yaml
  release-2.5/pullspecs/signing-2-5.yaml
  release-2.5/pullspecs/webhook-2-5.yaml
  release-2.5/pullspecs/worker-2-5.yaml
Due: hub-operator-bundle-2-5-on-push

setup fbc's for kmm-2.5.1 771db63
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

build FBCs for prod 2.5.1 771db63
  fbc/hub-catalog-template.json
  fbc/op-catalog-template.json
  prod-2.5.0/fbc-prod-r12-7.yaml
  prod-2.5.0/fbc-staging-r12-7.yaml
  prod-2.5.0/issues.yaml
  prod-2.5.0/r12-1-prod.yaml
  prod-2.5.0/r12-1-staging.yaml
  prod-2.5.1/kmm-2.5.1-prod-r1-1.yaml
  scripts/update_fbc.py
  templates/hub-catalog-template.json
  templates/op-catalog-template.json
  templates/pipeline-bundle-pull-request.yaml
  templates/pipeline-bundle-push.yaml
  templates/pipeline-pull-request.yaml
  templates/pipeline-push.yaml
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

update prefetch rpm versions
  UPDATE_PREFETCH.md
  fbc/hub-stage-catalog-template.json
  fbc/op-stage-catalog-template.json
  redhat.repo
  rpms.lock.yaml
Due: fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

add config for kmm-2.6
  .gitmodules
  release-2.6/Dockerfile.hub-operator
  release-2.6/Dockerfile.hub-operator-bundle
  release-2.6/Dockerfile.must-gather
  release-2.6/Dockerfile.operator
  release-2.6/Dockerfile.operator-bundle
  release-2.6/Dockerfile.signing
  release-2.6/Dockerfile.webhook
  release-2.6/Dockerfile.worker
  release-2.6/build_settings.conf
  release-2.6/pullspec_config.yaml
Due: none

restructure nudge combining
  .github/scripts/combine_nudges.py
  .github/scripts/nudges.yaml
  .github/workflows/combine-nudges.yaml
Due: none

update pre-fetched rpms for new ubi image
  .github/scripts/git_commands.py
  .github/scripts/konflux_api.py
  .github/scripts/release_nudges.py
  redhat.repo
  rpms.lock.yaml
Due: none

bug fixing combine_nudges.py
  .github/scripts/combine_nudges.py
  .github/scripts/nudges.yaml
Due: none

fix webhook not passing ARGs to labels
  .github/scripts/release_nudges.py
  .github/workflows/combine-nudges.yaml
  release-2.2/Dockerfile.webhook
  release-2.3/Dockerfile.webhook
  release-2.4/Dockerfile.webhook
  release-2.5/Dockerfile.hub-operator
  release-2.5/Dockerfile.operator
  release-2.5/Dockerfile.webhook
  release-2.5/Dockerfile.worker
Due: must-gather-2-2-on-pull-request, operator-2-4-on-push, signing-2-5-on-push

activate merging on ok-to-merge
  .github/workflows/automerge-konflux.yaml
Due: none

put ok-to-merge on a timer
  .github/workflows/automerge-konflux.yaml
Due: none

Red Hat Konflux update fbc-hub-422
  .tekton/fbc-hub-422-pull-request.yaml
  .tekton/fbc-hub-422-push.yaml
Due: none

Red Hat Konflux update fbc-op-422
  .tekton/fbc-op-422-pull-request.yaml
  .tekton/fbc-op-422-push.yaml
Due: none

add pipelineruns for 2-6
  .tekton/hub-operator-2-6-pull-request.yaml
  .tekton/hub-operator-2-6-push.yaml
  .tekton/hub-operator-bundle-2-6-pull-request.yaml
  .tekton/hub-operator-bundle-2-6-push.yaml
  .tekton/must-gather-2-6-pull-request.yaml
  .tekton/must-gather-2-6-push.yaml
  .tekton/operator-2-6-pull-request.yaml
  .tekton/operator-2-6-push.yaml
  .tekton/operator-bundle-2-6-pull-request.yaml
  .tekton/operator-bundle-2-6-push.yaml
  .tekton/signing-2-6-pull-request.yaml
  .tekton/signing-2-6-push.yaml
  .tekton/webhook-2-6-pull-request.yaml
  .tekton/webhook-2-6-push.yaml
  .tekton/worker-2-6-pull-request.yaml
  .tekton/worker-2-6-push.yaml
Due: none

Red Hat Konflux update signing-2-6
  .tekton/signing-2-6-pull-request.yaml
  .tekton/signing-2-6-push.yaml
Due: none

Red Hat Konflux update webhook-2-6
  .tekton/webhook-2-6-pull-request.yaml
  .tekton/webhook-2-6-push.yaml
Due: none

Red Hat Konflux update operator-bundle-2-6
  .tekton/operator-bundle-2-6-pull-request.yaml
  .tekton/operator-bundle-2-6-push.yaml
Due: none

Red Hat Konflux update operator-2-6
  .tekton/operator-2-6-pull-request.yaml
  .tekton/operator-2-6-push.yaml
Due: none

Red Hat Konflux update must-gather-2-6
  .tekton/must-gather-2-6-pull-request.yaml
  .tekton/must-gather-2-6-push.yaml
Due: none
