Repository chr15p/rh-kmm-konflux2: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push, hub-operator-2-2-on-push, hub-operator-bundle-2-3-on-push, hub-operator-bundle-2-5-on-pull-request, hub-operator-bundle-2-5-on-push, must-gather-2-2-on-pull-request, must-gather-2-3-on-push, operator-2-4-on-push, operator-bundle-2-4-on-push, operator-bundle-2-5-on-pull-request, operator-bundle-2-5-on-push, operator-bundle-2-6-on-push, signing-2-5-on-push, webhook-2-6-on-push

fbc-hub-415-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-hub-415:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

fbc-hub-416-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-hub-416:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

fbc-hub-418-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-hub-418:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  ...

fbc-hub-419-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-hub-419:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  ...

fbc-op-416-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-op-416:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  ...

fbc-op-418-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-op-418:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

fbc-op-418-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/fbc-op-418:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  ...

hub-operator-2-2-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target_branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-kmm-tenant/kmm-2-2/hub-operator-2-2:{{revision}}
  - name: build-platforms
    value:
  ...

build prod FBCs for 2.7.1 2.6.2 2.5.3
  config/pullspec_config.json
  fbc/Containerfile.catalogue
  fbc/Containerfile.catalogue.hub-v414
  fbc/Containerfile.catalogue.op-v414
  fbc/Containerfile.catalogue.v5
Due: fbc-hub-415-on-pull-request, fbc-hub-416-on-pull-request, fbc-hub-418-on-push, fbc-hub-419-on-push, fbc-op-416-on-push, fbc-op-418-on-pull-request, fbc-op-418-on-push

Add a beginner onboarding guide for the KMM Konflux release repo
  ONBOARDING.md
Due: none

add some diagrams and documantation for onboarding
  docs/RELEASE_TO_PROD.md
  docs/kmm-fbc-build.dot
  docs/kmm-fbc-build.png
  docs/kmm-operator-build.dot
  docs/kmm-operator-build.png
  docs/mk_pngs.sh
Due: none

add kmm 2.8.0 to the releases (tracking kmm main)
  .gitmodules
  .tekton/images-mirror-set.yaml
  config/pullspec_config.json
  release-2.8/Dockerfile.hub-operator
  release-2.8/Dockerfile.hub-operator-bundle
  release-2.8/Dockerfile.must-gather
  release-2.8/Dockerfile.operator
  release-2.8/Dockerfile.operator-bundle
  release-2.8/Dockerfile.signing
  release-2.8/Dockerfile.webhook
  release-2.8/Dockerfile.worker
  release-2.8/build_settings.conf
  release-2.8/release-2.8.0/hub-operator-bundle.yaml
  release-2.8/release-2.8.0/hub-operator.yaml
  release-2.8/release-2.8.0/must-gather.yaml
  release-2.8/release-2.8.0/operator-bundle.yaml
  release-2.8/release-2.8.0/operator.yaml
  release-2.8/release-2.8.0/signing.yaml
  release-2.8/release-2.8.0/webhook.yaml
  release-2.8/release-2.8.0/worker.yaml
Due: none

move 2.5.3 2.6.2 and 2.7.1 to released
  release-2.5/release-2.5.3/hub-operator-bundle.yaml.released
  release-2.5/release-2.5.3/hub-operator.yaml.released
  release-2.5/release-2.5.3/must-gather.yaml.released
  release-2.5/release-2.5.3/operator-bundle.yaml.released
  release-2.5/release-2.5.3/operator.yaml.released
  release-2.5/release-2.5.3/signing.yaml.released
  release-2.5/release-2.5.3/webhook.yaml.released
  release-2.5/release-2.5.3/worker.yaml.released
  release-2.6/release-2.6.2/hub-operator-bundle.yaml.released
  release-2.6/release-2.6.2/hub-operator.yaml.released
  release-2.6/release-2.6.2/must-gather.yaml.released
  release-2.6/release-2.6.2/operator-bundle.yaml.released
  release-2.6/release-2.6.2/operator.yaml.released
  release-2.6/release-2.6.2/signing.yaml.released
  release-2.6/release-2.6.2/webhook.yaml.released
  release-2.6/release-2.6.2/worker.yaml.released
  release-2.7/release-2.7.1/hub-operator-bundle.yaml.released
  release-2.7/release-2.7.1/hub-operator.yaml.released
  release-2.7/release-2.7.1/must-gather.yaml.released
  release-2.7/release-2.7.1/operator-bundle.yaml.released
  release-2.7/release-2.7.1/operator.yaml.released
  release-2.7/release-2.7.1/signing.yaml.released
  release-2.7/release-2.7.1/webhook.yaml.released
  release-2.7/release-2.7.1/worker.yaml.released
Due: signing-2-5-on-push, webhook-2-6-on-push

Kmm 2.8.0 (#2322)
  .gitmodules
  .tekton/images-mirror-set.yaml
  config/pullspec_config.json
  docs/RELEASE_TO_PROD.md
  docs/kmm-fbc-build.dot
  docs/kmm-fbc-build.png
  docs/kmm-operator-build.dot
  docs/kmm-operator-build.png
  docs/mk_pngs.sh
  release-2.8/Dockerfile.hub-operator
  release-2.8/Dockerfile.hub-operator-bundle
  release-2.8/Dockerfile.must-gather
  release-2.8/Dockerfile.operator
  release-2.8/Dockerfile.operator-bundle
  release-2.8/Dockerfile.signing
  release-2.8/Dockerfile.webhook
  release-2.8/Dockerfile.worker
  release-2.8/build_settings.conf
  release-2.8/release-2.8.0/hub-operator-bundle.yaml
  release-2.8/release-2.8.0/hub-operator.yaml
  release-2.8/release-2.8.0/must-gather.yaml
  release-2.8/release-2.8.0/operator-bundle.yaml
  release-2.8/release-2.8.0/operator.yaml
  release-2.8/release-2.8.0/signing.yaml
  release-2.8/release-2.8.0/webhook.yaml
  release-2.8/release-2.8.0/worker.yaml
Due: none

add pipeline definitions for 2.8
  .tekton/hub-operator-2-8-pull-request.yaml
  .tekton/hub-operator-2-8-push.yaml
  .tekton/hub-operator-bundle-2-8-pull-request.yaml
  .tekton/hub-operator-bundle-2-8-push.yaml
  .tekton/must-gather-2-8-pull-request.yaml
  .tekton/must-gather-2-8-push.yaml
  .tekton/operator-2-8-pull-request.yaml
  .tekton/operator-2-8-push.yaml
  .tekton/operator-bundle-2-8-pull-request.yaml
  .tekton/operator-bundle-2-8-push.yaml
  .tekton/signing-2-8-pull-request.yaml
  .tekton/signing-2-8-push.yaml
  .tekton/webhook-2-8-pull-request.yaml
  .tekton/webhook-2-8-push.yaml
  .tekton/worker-2-8-pull-request.yaml
  .tekton/worker-2-8-push.yaml
  scripts/release.py
  scripts/release_fbc.py
Due: none

revert task-rpms-signature-scan from broken taskref
  .tekton/bundle-pipelineref.yaml
  .tekton/multi-arch-pipelineref.yaml
Due: hub-operator-2-2-on-push, must-gather-2-3-on-push, operator-2-4-on-push, webhook-2-6-on-push

set 2.8.0 to staging
  config/pullspec_config.json
Due: none

correct 2.8.0 pullspecs
  release-2.8/release-2.8.0/hub-operator-bundle.yaml
  release-2.8/release-2.8.0/hub-operator.yaml
  release-2.8/release-2.8.0/must-gather.yaml
  release-2.8/release-2.8.0/operator-bundle.yaml
  release-2.8/release-2.8.0/operator.yaml
  release-2.8/release-2.8.0/signing.yaml
  release-2.8/release-2.8.0/webhook.yaml
  release-2.8/release-2.8.0/worker.yaml
Due: none

update 2.8.0 pullspecs
  release-2.8/release-2.8.0/hub-operator-bundle.yaml
  release-2.8/release-2.8.0/operator-bundle.yaml
Due: none

update bundle pullspecs
  release-2.8/release-2.8.0/hub-operator-bundle.yaml
  release-2.8/release-2.8.0/operator-bundle.yaml
Due: none

Path conditions:
  fbc-hub-415-on-pull-request: any of: fbc/**
  fbc-hub-416-on-pull-request: any of: fbc/**
  fbc-hub-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-hub-419-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/hub-operator-bundle-2-5.yaml)
  fbc-op-416-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  fbc-op-418-on-pull-request: any of: fbc/**
  fbc-op-418-on-push: (any of: fbc/**) or (any of: release-2.5/pullspecs/operator-bundle-2-5.yaml)
  hub-operator-2-2-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-2-push.yaml)) or ((any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**)))
  hub-operator-bundle-2-3-on-push: (((((any of: release-2.3/pullspecs/operator-2-3.yaml) or (any of: release-2.3/pullspecs/must-gather-2-3.yaml)) or (any of: release-2.3/pullspecs/signing-2-3.yaml)) or (any of: release-2.3/pullspecs/webhook-2-3.yaml)) or (any of: release-2.3/pullspecs/worker-2-3.yaml)) or (any of: release-2.3/Dockerfile.hub-operator-bundle)
  hub-operator-bundle-2-5-on-pull-request: any of: release-2.5/Dockerfile.hub-operator-bundle
  hub-operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/hub-operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.hub-operator-bundle)
  must-gather-2-2-on-pull-request: (any of: release-2.2/**) and (not (any of: release-2.2/pullspecs/**))
  must-gather-2-3-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-3-push.yaml)) or ((any of: release-2.3/**) and (not (any of: release-2.3/pullspecs/**)))
  operator-2-4-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-4-push.yaml)) or ((any of: release-2.4/**) and (not (any of: release-2.4/pullspecs/**)))
  operator-bundle-2-4-on-push: (((((any of: release-2.4/pullspecs/operator-2-4.yaml) or (any of: release-2.4/pullspecs/must-gather-2-4.yaml)) or (any of: release-2.4/pullspecs/signing-2-4.yaml)) or (any of: release-2.4/pullspecs/webhook-2-4.yaml)) or (any of: release-2.4/pullspecs/worker-2-4.yaml)) or (any of: release-2.4/Dockerfile.operator-bundle)
  operator-bundle-2-5-on-pull-request: (any of: release-2.5/**) and ((any of: bundle-hack/update_bundle.sh) or (any of: kernel-module-management/bundle/**))
  operator-bundle-2-5-on-push: (((((any of: release-2.5/pullspecs/operator-2-5.yaml) or (any of: release-2.5/pullspecs/must-gather-2-5.yaml)) or (any of: release-2.5/pullspecs/signing-2-5.yaml)) or (any of: release-2.5/pullspecs/webhook-2-5.yaml)) or (any of: release-2.5/pullspecs/worker-2-5.yaml)) or (any of: release-2.5/Dockerfile.operator-bundle)
  operator-bundle-2-6-on-push: (((((any of: release-2.6/pullspecs/operator-2-6.yaml) or (any of: release-2.6/pullspecs/must-gather-2-6.yaml)) or (any of: release-2.6/pullspecs/signing-2-6.yaml)) or (any of: release-2.6/pullspecs/webhook-2-6.yaml)) or (any of: release-2.6/pullspecs/worker-2-6.yaml)) or (any of: release-2.6/Dockerfile.operator-bundle)
  signing-2-5-on-push: (any of: release-2.5/**) and (not (any of: release-2.5/pullspecs/**))
  webhook-2-6-on-push: ((any of: .tekton/multi-arch-pipelineref.yaml) or (any of: .tekton/*-2-6-push.yaml)) or ((any of: release-2.6/**) and (not (any of: release-2.6/pullspecs/**)))
